.progress_practice{
    margin-top: 20px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.pro{
    background-color:#cedcf2 !important;
    border-radius: 20px;
}
.question{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    font-family: din-round,sans-serif;
}
.checkBottom{
    padding-top: 40px;
    padding-bottom: 40%;
    border-top: 1px solid rgb(216, 213, 213);
}
.checkBottom Button{
    color: #afafaf;
    border-radius: 16px;
    font-size: 16px;
    background-color: #fff;
    border-color: #e5e5e5;
    min-width: 150px;
    border-width: 2px 2px 4px;
    padding: 12px 16px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    border-style: solid;
    transform: translateZ(0);
    transition: filter .2s;
}

.cardAnswer:hover{
    border-width: 2px 2px 4px !important;
    border-color: #1cb0f6 !important ;
    background-color: #ddf4ff !important;
    border-style: solid !important;
    transform: translateZ(0);
    transition: filter .2s;
}
.cardAnswerFocus{
    border-width: 2px 2px 4px !important;
    border-color: #58cc02 !important;
    background-color:#ebf5e6 !important;
    border-style: solid !important;
    transform: translateZ(0) !important;
    transition: filter .2s !important;
}
.cardAnswer{
    border-width: 2px 2px 4px;
    border-color: #e5e5e5 ;
    background-color: #fff !important;
    box-shadow: none !important;
    border-style: solid;
    transform: translateZ(0);
    transition: filter .2s;
}

.Correct{
    background-color:#b8f28b ;
}
.Correct Button{
    height: 60px !important;
}
.Correct p{
    font-size: 19px;
    font-weight: 700;
    color: #58a700;
    margin-left: 10px;
    margin-top: 5px;
}
.Wrong{
    background-color: #ffc1c1;
}
.Wrong Button{
    height: 60px !important;
}
.Wrong p{
    display: block;
    font-size: 19px;
    font-weight: 700;
    color:#ea2b2b;
    margin-left: 10px;
    margin-top: 5px;
}
.bg-success {
    background-color: #58cc02!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.progressChild{
    background: #fff;
    border-radius: inherit;
    height: 30%;
    left: calc(var(--height)/2);
    opacity: .2;
    right: calc(var(--height)/2);
    top: 25%;
    margin-left: 5px;
    margin-right: 5px;
}
.complete{
    /* text-align: center; */
    width: 100%;
    color: #58a700;
    padding-bottom: 35%;
    
}
.complete h3{
    font-weight: 700;
    margin-bottom: 25px;
}
.complete p{
    font-weight: 600;
    color: #58a700;
}

.onceMore{
    color: #afafaf;
    border-radius: 16px;
    font-size: 16px;
    background-color: #fff;
    border-color: #e5e5e5;
    min-width: 150px;
    border-width: 2px 2px 4px;
    padding: 12px 16px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    border-style: solid;
    transform: translateZ(0);
    transition: filter .2s;
    color: #fff;
    margin-top: 10px;
}