.homepage{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
   
    position: fixed; 
    top: 0; 
    left: 0; 
  
    min-width: 100%;
    min-height: 100%;

}
.getStarted{
    background: #ff1313;
    font-family: "Rajdhani",sans-serif !important;
    text-transform: uppercase;
    padding: 30px 37px 30px 97px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0px;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}
.getStarted::after{
    position: absolute;
    content: "";
    width: 30px;
    background: #fff;
    left: 37px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
}
.titleTocky{
    font-family: "Rajdhani",sans-serif !important;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 14px;
    color: black;
    line-height: 1.1;
    text-transform: uppercase;
}
.overlay_background{
    background: rgba(0,0,0,0.3);
    z-index: 1;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}