
  .buttonConvert Button{
    cursor: pointer;
    color:rgb(241, 235, 235);
    border-radius: 8px;
    font-size: 16px;
    background-color:rgb(88, 167, 0);
    border-color: #c7c4c4;
    min-width: 130px;
    border-width: 2px 2px 4px !important;
    /* padding: 12px 16px; */
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    border-style: solid;
    transform: translateZ(0);
    transition: filter .2s;
    
  }
  .buttonConvert :hover{
    border-color: rgb(182, 178, 178) !important;
    background-color: #1cb0f6 !important;
  }
  
  .convert{
    width: 100%;
  }
  .buttonConvert{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .convert i{
    font-size: 50px;
  }