* {
    margin: 0;
    padding: 0;
    }
    body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
    }
    .content{
        display: flex;
    }
    #container{
    margin: 10px ;
    width: 688px;
    }
    #container2 {
        margin-top: 10px;
        width: 500px;
    }
    #write {
    margin: 0 0 5px;
    padding: 5px;
    width: 660px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    }
    #write2 {
    margin: 0 0 5px;
    padding: 5px;
    width: 500px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    }
    #keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    #keyboard2 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    }
    /* #keyboard li:nth-child(2n), #keyboard2 li:nth-child(2n){
        background: #f9f9f9;
    } */
    #keyboard li  {
        font-weight: 600;
        background: #000;
        color: #fff;
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    }
    #keyboard2 li{
        font-weight: 600;
        background: #000;
        color: #fff;
    float: left;
    margin: 0 5px 5px 0;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    }
    .capslock, .tab, .left-shift {
    clear: left;
    }
    .space_firstitem{
        width: 500px !important;
        background-color: rgb(113, 120, 125) !important;
        height: 40px !important;
    }
                #keyboard .tab, #keyboard .delete {
                width: 70px;
                }
                #keyboard .capslock {
                width: 80px;
                }
                #keyboard .return {
                width: 77px;
                }
                #keyboard .left-shift {
                width: 95px;
                }
                #keyboard .right-shift {
                width: 109px;
                }
            .lastitem {
            margin-right: 0;
            }
            .uppercase {
            text-transform: uppercase;
            }
            #keyboard .space {
            clear: left;
            width: 660px;
            }
            .on {
            display: none;
            }
            #keyboard li:hover, #keyboard2 li:hover  {
            position: relative;
            top: 1px;
            left: 1px;
            border-color: #e5e5e5;
            cursor: pointer;
            }
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
            .traffic-chart {
                min-height: 335px;
            }
            #flotPie1  {
                height: 150px;
            }
            #flotPie1 td {
                padding:3px;
            }
            #flotPie1 table {
                top: 20px!important;
                right: -10px!important;
            }
            .chart-container {
                display: table;
                min-width: 270px ;
                text-align: left;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            #flotLine5  {
                 height: 105px;
            }
    
            #flotBarChart {
                height: 150px;
            }
            #cellPaiChart{
                height: 160px;
            }